<a href="<%= bands_url %>">Back to Bands</a>
<h1>This is <%= @band.name %>'s page.</h1>

<% unless @band.albums.empty? %>
  <h2>Albums:</h2>
  <ul>
    <% @band.albums.each do |album| %>
      <li><a href="<%= album_url(album) %>"><%= album.title %></a></li>
    <% end %>
  </ul>
<% else %>
  <p>This band doesn't have any albums yet!</p>
<% end %>

<a href="<%= edit_band_url(@band) %>"><button type="button">Edit Band</button></a>
<a href="<%= new_band_album_url(@band) %>">Add an Album</a>
<form action="<%= band_url(@band) %>" method="post">
  <%= auth_token %>
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete Band">
</form>
